* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
img {
  max-width: 100%;
}
.slider-game {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 5%;
}
.container {
  display: grid;
  width: 25em;
  height: 25em;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 8em;
}
.original-image {
  width: 25em;
  height: 25em;
}
.image-container {
  border: 1px solid #ffffff;
}
.cover-screen {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #edb506;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#start-button {
  font-size: 1.2em;
  padding: 0.8em 2em;
  border: none;
  border-radius: 3em;
  cursor: pointer;
}
#moves {
  position: relative;
  margin: 1em;
  text-align: right;
}
.hide {
  display: none;
}
@media only screen and (max-width: 768px) {
  .slider-game {
    flex-direction: column;
  }
  .container {
    width: 20em;
    height: 20em;
    grid-auto-rows: 6em;
  }
  .original-image {
    width: 20em;
    height: 20em;
  }
}




/* Additional styles for homeButton */
#homeButton {
  margin-top: 20px; /* Add some space between the form button and other elements */
  padding: 15px 30px; /* Padding for the form button */
  background-color: #d3bb35; /* Green background color */
  color: #116479; /* White text color */
  border: none; /* Remove border */
  border-radius: 25px; /* Round the corners */
  cursor: pointer; /* Add a pointer cursor on hover */
  font-size: 16px; /* Font size for the form button */
  transition: background-color 0.3s ease; /* Smooth background color transition */

  /* Add hover effect */
  &:hover {
      background-color: #d3bb35; /* Darker green on hover */
  }

  /* Additional styles for larger screens if needed */
  @media (min-width: 768px) {
      font-size: 18px; /* Increase font size for larger screens */
      padding: 20px 40px; /* Adjust padding for larger screens */
  }
}
